.animate-left {
  animation: slideleft var(--medium-slow);
}

.animate-right {
  animation: slideright var(--medium-slow);
}

@keyframes slideleft {
  from {
    transform: translateX(-80%);
  } to {
    transform: translateX(0);
  }
}

@keyframes slideright {
  from {
    transform: translateX(80%);
  } to {
    transform: translateX(0);
  }
}
