.card {
    margin: var(--spacing-small);
    padding-top: var(--spacing-small);
    border: 1px solid var(--line-color);
    box-shadow: var(--mat-shadow);
    border-radius: 0.2em;
    background-color: white;
}

.card .card-title {
    font-size: 1.16rem;
    font-weight: bold;
}

.card > header {
    padding: var(--sides-only-small);
}

.card > footer {
    padding: var(--sides-only-small);
    border-top: 1px solid var(--line-color);
}

.card .card-content {
    border-top: 1px solid var(--line-color);
    padding: var(--sides-only-small);
}

.card-content > h5:first-child {
    margin-top: var(--spacing-small);
}
