@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

body {
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;

  font-family: 'Fira Code', monospace;
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--background);

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header"
    "tabs";
}

body > header {
  position: relative;
  grid-area: header;
  text-align: center;
}

body > footer {
  display: none;
}

p {
  line-height: 1.5em;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:visited {
  color: var(--clicked-color);
}

a:hover, input:hover, button:hover, select:hover,
a:focus, input:focus, button:focus, select:focus {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

section .section-title {
  margin: var(--sides-only-small);
  line-height: 28px;
  font-size: 16px;
}

.my-name {
  font-size: 22px;
  margin: var(--spacing-small);
}

#dark-mode-toggle {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 16px;
  fill: var(--text-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--line-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hint-color);
}

@media screen and (min-width: 600px), print {
  .double-column-when-wide-enough {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media print {
  body {
    overflow: initial;
    font-size: 12pt;
    height: 100%;
    max-width: 100%;
    background: white;
  }

  body > header {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
  }

  body > footer {
    display: block;
    text-align: center;
    margin-top: 0;
  }

  p {
    max-width: unset;
    line-height: inherit;
  }

  a {
    color: var(--text-color);
  }

  .my-name {
    margin: 0 !important;
  }

  .not-printed {
    display: none;
  }
}
