@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);
/* https://colors.lol/biparous */

:root {
    --spacing-small: 8px;
    --sides-only-small: 0 var(--spacing-small);
    --full-without-spacing: calc(100% - 2 * var(--spacing-small));
    --background: #f8f8f8;
    --text-color: #222222;
    --line-color: #e9e9e9;
    --hint-color: #aaaaaa;
    --primary-color: #FC824A; /* biparous orangish */
    --secondary-color: #B00149; /* unblissful raspberry */
    --mat-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    --medium-slow: 0.3s;
    --slow: 0.6s;
}

body {
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;

    font-family: 'Fira Code', monospace;
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--background);

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header"
        "tabs";
}

body > header {
    grid-area: header;
    text-align: center;
}

body > footer {
    display: none;
}

p {
    line-height: 1.5em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:visited {
    color: var(--secondary-color);
}

a:hover, input:hover, button:hover, select:hover,
a:focus, input:focus, button:focus, select:focus {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

section .section-title {
    margin: var(--sides-only-small);
    line-height: 28px;
    font-size: 16px;
}

.animate-left {
    animation: slideleft var(--medium-slow);
}

.animate-right {
    animation: slideright var(--medium-slow);
}

.my-name {
    font-size: 22px;
    margin: var(--spacing-small);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--line-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hint-color);
}

@media screen and (min-width: 600px), print {
    .double-column-when-wide-enough {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media print {
    body {
        overflow: initial;
        font-size: 12pt;
        height: 100%;
        max-width: 100%;
    }

    body > header {
        border: none !important;
        box-shadow: none !important;
        margin: 0 !important;
    }

    body > footer {
        display: block;
        text-align: center;
        margin: -1px;
    }

    .my-name {
        margin: 0 !important;
    }

    p {
        max-width: unset;
        line-height: inherit;
    }

    a {
        color: var(--text-color);
    }

    .not-printed {
        display: none;
    }
}

@keyframes slideleft {
    from {
        transform: translateX(-80%);
    } to {
        transform: translateX(0);
    }
}

@keyframes slideright {
    from {
        transform: translateX(80%);
    } to {
        transform: translateX(0);
    }
}