@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

html {
  color: var(--text-color);
  background-color: var(--background);
  font-family: 'Fira Code', monospace;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header'
    'tabs';
  height: 100vh;
  margin: 0 auto;
  max-width: 666px;
  overflow: hidden;

  > header {
    position: relative;
    grid-area: header;
    text-align: center;
  }
  
  > footer {
    display: none;
  }
}

p {
  line-height: 1.5em;
}

a:not(#conductor) {
  color: var(--secondary-color);
  text-decoration: none;

  &:visited {
    color: var(--clicked-color);
  }
}

a, input, button, select {
  &:hover, &:focus {
    &:not(#conductor) {
      font-weight: bold;
    }
  }
}

h1 {
  font-size: var(--text-x-large);
  margin: var(--spacing-small);
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

section [section-title] {
  margin: var(--sides-only-medium);
  line-height: 1.75rem;
  font-size: var(--text-medium);
}

[printed] {
  display: none;
}

[clickable] {
  cursor: pointer;
}

[project-name] {
  font-weight: bold;
}

[loc-count] {
  font-size: var(--text-x-small);
}

[stack] {
  font-size: var(--text-x-small);
}

#contact-information {
  p {
    margin-top: 0;
  }
}

#dark-mode-toggle {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 16px;
  fill: var(--text-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--line-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hint-color);
}

@media screen and (min-width: 600px), print {
  [responsive-columns] {
    display: grid;
    grid-template-columns: 49% 49%;

    &:not(:first-of-type) {
      gap: var(--spacing-medium);
      padding: var(--spacing-medium);

      &[last-line] {
        padding-bottom: 0;
      }

      [card] {
        margin: 0 !important;
      }
    }
  }
}

@media print {
  body {
    overflow: initial;
    height: 100%;
    max-width: 100%;
    background: white;
  }

  body > header {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
  }

  body > footer {
    background-color: transparent;
    display: block;
    font-size: var(--text-x-small);
    text-align: center;
    margin-top: -36px;
  }

  p {
    max-width: unset;
    line-height: inherit;
  }

  a:not(#conductor) {
    color: var(--text-color);
  }

  [not-printed] {
    display: none;
  }

  [printed] {
    display: inline;
  }

  #contact-information {
    font-size: var(--text-medium);
  }

  #project-pet {
    margin-bottom: 0;
  }
}
