.skill-trees-tab {
    display: block;
    grid-template-columns: none;
}

@media screen and (min-width: 800px) {
    .skill-trees-tab {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.skill-tree {
    padding: var(--spacing-small) 0;
    display: grid;
    grid-gap: var(--spacing-small);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.skill-tree > div:nth-child(3n + 2) {
    border-right: 1px solid var(--line-color);
    border-left: 1px solid var(--line-color);
}

.tree-header {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid var(--line-color);
}