#tab-bar {
  margin: 16px 8px 8px 8px;
  width: var(--full-without-spacing);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  [role="tab"] {
    padding: var(--spacing-small);
    text-align: center;
    background: var(--element-background);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--line-color);
    cursor: pointer;
    font-family: 'Fira Code', monospace;
    font-size: var(--text-medium);
    color: var(--text-color);

    &:focus {
      outline: 1px solid var(--line-color);
    }
  
    &[aria-selected="true"] {
      border-bottom: 2px solid var(--primary-color);
      transition: right var(--medium-slow) ease-in-out;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--line-color);
    }

    @supports (-webkit-overflow-scrolling: touch) {
      padding-bottom: 64px;
    }
  }
}

[role="tabpanel"] {
  margin-bottom: 64px;
  position: relative;
  scroll-behavior: 'smooth';

  [tab-title] {
    display: none;
  }

  @media print {
    display: block;
    margin-bottom: 0;

    [tab-title] {
      display: block;
      font-size: var(--text-enlarged);
      font-weight: bold;
      line-height: 28px;
      margin: var(--sides-only-medium);
    }

    p {
      line-height: 1.2rem;
      margin: var(--spacing-small) 0;
    }
  }
}

#tab-container {
  grid-area: tabs;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab-scrolled-top {
  box-shadow: inset 0 7px 9px -7px var(--line-color);
}

@media print {
  #tab-bar {
    display: none;
  }

  #tab-container {
    overflow-y: hidden;
    height: fit-content;
    box-shadow: none;
  }

  #skillz {
    /** basically just force it onto the next page **/
    margin-top: 80px;
  }
}
