#tab-bar {
    margin: 16px 8px 8px 8px;
    width: var(--full-without-spacing);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#tab-bar > .tab:not(:last-child) {
    border-right: 1px solid var(--line-color);
}

.tab {
    padding: var(--spacing-small);
    text-align: center;
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--line-color);
    cursor: pointer;
    font-family: 'Fira Code', monospace;
    font-size: 1em;
}

.tab:focus {
    outline: 1px solid var(--line-color);
}

.tab[aria-selected="true"] {
    border-bottom: 2px solid var(--primary-color);
    transition: right var(--medium-slow) ease-in-out;
}

.tab-body {
    position: relative;
}

.tab-title {
    display: none;
}

#tab-container {
    grid-area: tabs;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-scrolled-top {
    box-shadow: inset 0 7px 9px -7px var(--line-color);
}

@supports (-webkit-overflow-scrolling: touch) {
    .tab {
        padding-bottom: 64px;
    }
}

@media print {
    #tab-bar {
        display: none;
    }

    #tab-container {
        overflow-y: hidden;
        height: fit-content;
        box-shadow: none;
    }

    #skillz {
        margin-top: 20px;
    }

    .tab-body > .tab-title {
        display: block;
        margin: var(--sides-only-small);
        line-height: 28px;
        font-size: 1.25em;
        font-weight: bold;
    }

    .tab-body p {
        line-height: 1.2em;
        margin: var(--spacing-small) 0;
    }
}